include explorerscript/py.typed
include explorerscript_parser/py.typed
recursive-include explorerscript_parser *.pyi
recursive-include explorerscript_parser *.cpp
recursive-include explorerscript_parser *.h
recursive-include explorerscript_parser *.g4
include CMakeLists.txt
include ExternalAntlr4Cpp.cmake
graft antlr4